.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.heroContainer{
    width: 100%;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/de2od3piw/image/upload/v1703011829/Programadores-en-Argentina_y05nss.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(5, 5, 5);
}

.aboutContainer{
    min-height: 100vh;
    width: 100%;
    padding: 5rem;
    display:flex;
    flex-direction: row;;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.856);
}

.title{
    text-align: center;
    color: antiquewhite;
}



.aboutParagraph{
    margin: auto;
    text-align: center;
    width: 60%;
    color: antiquewhite;
}

.aboutText p{
    text-align: justify;
    padding: 8px 0px;
}

.aboutText button{
    text-align: justify;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: #1976d2;
    color:antiquewhite;
    font-weight: 600;
}


.servicesContainer{
    width: 100%;
    min-height: 100vh;
    background-color:chocolate;
    
}

.servicesTitle{
    text-align: center;
    margin: 2rem;
}

.serviceContainer{
    background-image: url("https://res.cloudinary.com/de2od3piw/image/upload/v1670456611/pics/kenzie_blog_desenvolvedor-de-software_cv6evn.webp");
    background-position: center;
    background-size: cover;
    color: antiquewhite;
}

.servicesCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;

}

.servicesCard{
    border: 1px solid rgb(160, 157, 157);
    padding: 32px;
    border-radius: 15px;
    max-width: 30%;
}

.servicesCard h3{
   font-size: 1.5rem;
   margin: 8px 0px;
}

.staffContainer{
    width: 100%;
    min-height: 100vh;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
}

.footerContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/de2od3piw/image/upload/v1669144052/pics/background_yloyzt.jpg");
    background-position: center;
    background-size: cover;
    color: antiquewhite;
}

.buttonForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.firstForm{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.firstForm input{
    border: 1px solid white;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color:white;
    border-radius: 5px;
    height: 40px;
    padding-left: 8px ;
}

.firstForm textarea{
    border: 1px solid white;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color:white;
    border-radius: 5px;
    padding: 8px ;
}







